* {
    box-sizing: border-box;
}

body {
    background-color: #191922;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-image: linear-gradient(rgba(255,255,255,0.09), rgba(255,255,255,0.09)), url(/images/header.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
    padding: 200px 0;
}

header h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    margin-top: 70px;
}

header h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 144px;
}

header h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 40px;
}

header a {
    display: inline-block;
    background-color: #FFFFFF;
    padding: 16px 32px;
    text-decoration: none;
    color: rgb(25, 25, 34);
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 70px;
}

header a:hover {
    color: #FFFFFF;
    background-color: rgb(25, 25, 34);
    transition: all 200ms ease-in-out;
}


main {
    padding: 50px 0;
}

section {
    padding: 50px 0;
}

.hawaii-history,
.hawaii-photos {
    background-color: rgb(25, 25, 34);
    color: white;
}

.hawaii-history figure {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
}

.hawaii-history figure img {
    width: 100%;
}

.hawaii-history figure figcaption h3 {
    line-height: 21px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    opacity: 0.6;
}

.hawaii-history figure figcaption h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
}

.hawaii-history figure figcaption p {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.6;
    margin-top: 20px;
}

.hawaii-islands {
    text-align: center;
    background-color: rgb(34, 34, 48);
    color: white;
    padding: 50px 0;
}

.hawaii-islands h3, .hawaii-photos h3 {
    opacity: 0.5;
    letter-spacing: 5px;
    font-size: 16px;
    margin-bottom: 5px;
}

.hawaii-islands h2 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 40px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.card-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cards .row .col-4 figure {
    width: 30%;
    margin: 0;
    background-color: rgb(57, 57, 80);
    max-width: 400px;
}

.cards figure img, iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards figure figcaption {
    padding: 20px;
}

.cards figure figcaption h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin: 10px 0;
}

.cards figure figcaption p {
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.7;
    margin: 0;
    padding: 0;
}

.cards figure figcaption a {
    margin-top: 20px;
    display: inline-block;
    background-color: #FFFFFF;
    padding: 16px 32px;
    text-decoration: none;
    color: rgb(25, 25, 34);
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.cards figure figcaption a:hover {
    color: #FFFFFF;
    background-color: rgb(25, 25, 34);
    transition: all 200ms ease-in-out;
}

.hawaii-photos {
    text-align: center;
}

.hawaii-photos h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 30px;
    margin-top: 0;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photos img {
    width: 100%;
    max-width: 350px;
    margin: 15px;
    transition: transform 0.3s ease;
}

.photos img:hover {
    transform: scale(1.25);
}

footer {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(/images/footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    padding: 20px 0;
}

footer h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    margin-bottom: 15px;
}

footer ul {
    padding: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

footer li {
    list-style: none;
    margin-bottom: 10px;
}

footer li a {
    text-decoration: none;
    color: white;
}

footer p {
    font-size: 13px;
}

.footer-links a {
    color: #D0D9E0;
}

@media (max-width: 1024px) {
    header {
        padding: 100px 0;
    }

    header a {
        padding: 10px 20px;
        font-size: 14px;
        width: auto;
    }

    header h3,
    main section.hawaii-history figure figcaption h3,
    main section.hawaii-history figure figcaption p,
    main section.hawaii-islands h3,
    main section.hawaii-photos h3,
    main section.hawaii-islands div.cards figure figcaption p {
        font-size: 14px;
    }

    header h1 {
        font-size: 60px;
        line-height: 100px;
    }

    header h2,
    main section.hawaii-history figure figcaption h2, 
    main section.hawaii-islands h2,
    main section.hawaii-islands div.cards figure figcaption h4,
    main section.hawaii-photos h2 {
        font-size: 24px;
        line-height: 36px;
        margin: 10px auto;
    }

    main section.hawaii-history {
        padding: 30px;
        text-align: center;
    }

    main section.hawaii-history figure {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    main section.hawaii-history img {
        display: none;
    }

    main section.hawaii-islands,
    section.hawaii-photos {
        padding: 30px 0;
    }

    main section.hawaii-islands div.cards {
        margin-top: 20px;
        justify-content: center;
    }

    .cards figure {
        max-width: 100%;
    }

    .cards figure img {
        width: auto;
        height: auto;
    }

    .photos img {
        max-width: 100%;
    }

    footer {
        padding: 10px 0;
        text-align: center;
    }

    footer section h3 {
        font-size: 16px;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    footer h3, footer ul, footer p {
        font-size: 12px;
    }

    footer ul {
        line-height: 18px;
    }

    footer li {
        margin-bottom: 0;
    }
    

}
